body {
  background-color: var(--mantine-color-dark-8) !important;
}

.item-list-element {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 5px;
}

.item-list-element-highlight {
  background-color: var(--mantine-color-default-hover);
}
